.PageHeader{
  height: auto;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: white;
  
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.logo {
  border-radius: 50%;
}

.navLink {
  display: flex;
  align-items: center;
  gap: 20px;
}

.title:not(.ant-title) {
  color: black;
  margin-bottom: 0;
}

.user_block {
  display: flex;
  gap: 20px;
}

.button {
  
  background-color: white;
  color: black;
}